data/04-pizza-dad.jpeg
data/pizza_steak_sushi.zip
data/FashionMNIST/raw/t10k-images-idx3-ubyte
data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
data/FashionMNIST/raw/t10k-labels-idx1-ubyte
data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
data/FashionMNIST/raw/train-images-idx3-ubyte
data/FashionMNIST/raw/train-images-idx3-ubyte.gz
data/FashionMNIST/raw/train-labels-idx1-ubyte
data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
data/pizza_steak_sushi/test/pizza/194643.jpg
data/pizza_steak_sushi/test/pizza/195160.jpg
data/pizza_steak_sushi/test/pizza/309892.jpg
data/pizza_steak_sushi/test/pizza/344397.jpg
data/pizza_steak_sushi/test/pizza/398345.jpg
data/pizza_steak_sushi/test/pizza/416067.jpg
data/pizza_steak_sushi/test/pizza/540882.jpg
data/pizza_steak_sushi/test/pizza/648055.jpg
data/pizza_steak_sushi/test/pizza/714866.jpg
data/pizza_steak_sushi/test/pizza/930553.jpg
data/pizza_steak_sushi/test/pizza/971934.jpg
data/pizza_steak_sushi/test/pizza/1152100.jpg
data/pizza_steak_sushi/test/pizza/1503858.jpg
data/pizza_steak_sushi/test/pizza/1687143.jpg
data/pizza_steak_sushi/test/pizza/1925494.jpg
data/pizza_steak_sushi/test/pizza/2003290.jpg
data/pizza_steak_sushi/test/pizza/2019408.jpg
data/pizza_steak_sushi/test/pizza/2111981.jpg
data/pizza_steak_sushi/test/pizza/2124579.jpg
data/pizza_steak_sushi/test/pizza/2218680.jpg
data/pizza_steak_sushi/test/pizza/2236338.jpg
data/pizza_steak_sushi/test/pizza/2508636.jpg
data/pizza_steak_sushi/test/pizza/2871261.jpg
data/pizza_steak_sushi/test/pizza/3092704.jpg
data/pizza_steak_sushi/test/pizza/3475871.jpg
data/pizza_steak_sushi/test/steak/27415.jpg
data/pizza_steak_sushi/test/steak/100274.jpg
data/pizza_steak_sushi/test/steak/296375.jpg
data/pizza_steak_sushi/test/steak/354513.jpg
data/pizza_steak_sushi/test/steak/502076.jpg
data/pizza_steak_sushi/test/steak/673127.jpg
data/pizza_steak_sushi/test/steak/690177.jpg
data/pizza_steak_sushi/test/steak/894825.jpg
data/pizza_steak_sushi/test/steak/966174.jpg
data/pizza_steak_sushi/test/steak/1016217.jpg
data/pizza_steak_sushi/test/steak/1285886.jpg
data/pizza_steak_sushi/test/steak/1302563.jpg
data/pizza_steak_sushi/test/steak/1627703.jpg
data/pizza_steak_sushi/test/steak/1868005.jpg
data/pizza_steak_sushi/test/steak/1882831.jpg
data/pizza_steak_sushi/test/steak/2117351.jpg
data/pizza_steak_sushi/test/steak/2144308.jpg
data/pizza_steak_sushi/test/steak/3424937.jpg
data/pizza_steak_sushi/test/steak/3873283.jpg
data/pizza_steak_sushi/test/sushi/46797.jpg
data/pizza_steak_sushi/test/sushi/175783.jpg
data/pizza_steak_sushi/test/sushi/207578.jpg
data/pizza_steak_sushi/test/sushi/343036.jpg
data/pizza_steak_sushi/test/sushi/479711.jpg
data/pizza_steak_sushi/test/sushi/499605.jpg
data/pizza_steak_sushi/test/sushi/684266.jpg
data/pizza_steak_sushi/test/sushi/719108.jpg
data/pizza_steak_sushi/test/sushi/858157.jpg
data/pizza_steak_sushi/test/sushi/887831.jpg
data/pizza_steak_sushi/test/sushi/988559.jpg
data/pizza_steak_sushi/test/sushi/1172255.jpg
data/pizza_steak_sushi/test/sushi/1230335.jpg
data/pizza_steak_sushi/test/sushi/1245193.jpg
data/pizza_steak_sushi/test/sushi/1434806.jpg
data/pizza_steak_sushi/test/sushi/1600999.jpg
data/pizza_steak_sushi/test/sushi/1680893.jpg
data/pizza_steak_sushi/test/sushi/1742201.jpg
data/pizza_steak_sushi/test/sushi/1987407.jpg
data/pizza_steak_sushi/test/sushi/2190404.jpg
data/pizza_steak_sushi/test/sushi/2276986.jpg
data/pizza_steak_sushi/test/sushi/2385731.jpg
data/pizza_steak_sushi/test/sushi/2394442.jpg
data/pizza_steak_sushi/test/sushi/2521706.jpg
data/pizza_steak_sushi/test/sushi/2540511.jpg
data/pizza_steak_sushi/test/sushi/2715127.jpg
data/pizza_steak_sushi/test/sushi/2741434.jpg
data/pizza_steak_sushi/test/sushi/3177743.jpg
data/pizza_steak_sushi/test/sushi/3196729.jpg
data/pizza_steak_sushi/test/sushi/3806282.jpg
data/pizza_steak_sushi/test/sushi/3837522.jpg
data/pizza_steak_sushi/train/pizza/5764.jpg
data/pizza_steak_sushi/train/pizza/12301.jpg
data/pizza_steak_sushi/train/pizza/29417.jpg
data/pizza_steak_sushi/train/pizza/38349.jpg
data/pizza_steak_sushi/train/pizza/68684.jpg
data/pizza_steak_sushi/train/pizza/138855.jpg
data/pizza_steak_sushi/train/pizza/218711.jpg
data/pizza_steak_sushi/train/pizza/220190.jpg
data/pizza_steak_sushi/train/pizza/244505.jpg
data/pizza_steak_sushi/train/pizza/300869.jpg
data/pizza_steak_sushi/train/pizza/320570.jpg
data/pizza_steak_sushi/train/pizza/393658.jpg
data/pizza_steak_sushi/train/pizza/618348.jpg
data/pizza_steak_sushi/train/pizza/667309.jpg
data/pizza_steak_sushi/train/pizza/702165.jpg
data/pizza_steak_sushi/train/pizza/715169.jpg
data/pizza_steak_sushi/train/pizza/739735.jpg
data/pizza_steak_sushi/train/pizza/741883.jpg
data/pizza_steak_sushi/train/pizza/764429.jpg
data/pizza_steak_sushi/train/pizza/765799.jpg
data/pizza_steak_sushi/train/pizza/786995.jpg
data/pizza_steak_sushi/train/pizza/853441.jpg
data/pizza_steak_sushi/train/pizza/928670.jpg
data/pizza_steak_sushi/train/pizza/1008844.jpg
data/pizza_steak_sushi/train/pizza/1033251.jpg
data/pizza_steak_sushi/train/pizza/1044789.jpg
data/pizza_steak_sushi/train/pizza/1089334.jpg
data/pizza_steak_sushi/train/pizza/1105700.jpg
data/pizza_steak_sushi/train/pizza/1285298.jpg
data/pizza_steak_sushi/train/pizza/1412034.jpg
data/pizza_steak_sushi/train/pizza/1524655.jpg
data/pizza_steak_sushi/train/pizza/1572608.jpg
data/pizza_steak_sushi/train/pizza/1633289.jpg
data/pizza_steak_sushi/train/pizza/1649276.jpg
data/pizza_steak_sushi/train/pizza/1654444.jpg
data/pizza_steak_sushi/train/pizza/1660415.jpg
data/pizza_steak_sushi/train/pizza/1899785.jpg
data/pizza_steak_sushi/train/pizza/1947572.jpg
data/pizza_steak_sushi/train/pizza/1968947.jpg
data/pizza_steak_sushi/train/pizza/2026009.jpg
data/pizza_steak_sushi/train/pizza/2121603.jpg
data/pizza_steak_sushi/train/pizza/2154394.jpg
data/pizza_steak_sushi/train/pizza/2190018.jpg
data/pizza_steak_sushi/train/pizza/2228322.jpg
data/pizza_steak_sushi/train/pizza/2285942.jpg
data/pizza_steak_sushi/train/pizza/2291093.jpg
data/pizza_steak_sushi/train/pizza/2330965.jpg
data/pizza_steak_sushi/train/pizza/2382016.jpg
data/pizza_steak_sushi/train/pizza/2426686.jpg
data/pizza_steak_sushi/train/pizza/2428085.jpg
data/pizza_steak_sushi/train/pizza/2451169.jpg
data/pizza_steak_sushi/train/pizza/2493954.jpg
data/pizza_steak_sushi/train/pizza/2569760.jpg
data/pizza_steak_sushi/train/pizza/2576168.jpg
data/pizza_steak_sushi/train/pizza/2687575.jpg
data/pizza_steak_sushi/train/pizza/2702825.jpg
data/pizza_steak_sushi/train/pizza/2760984.jpg
data/pizza_steak_sushi/train/pizza/2785084.jpg
data/pizza_steak_sushi/train/pizza/2800325.jpg
data/pizza_steak_sushi/train/pizza/2811032.jpg
data/pizza_steak_sushi/train/pizza/2821048.jpg
data/pizza_steak_sushi/train/pizza/2885050.jpg
data/pizza_steak_sushi/train/pizza/2885796.jpg
data/pizza_steak_sushi/train/pizza/2924941.jpg
data/pizza_steak_sushi/train/pizza/2992084.jpg
data/pizza_steak_sushi/train/pizza/3018077.jpg
data/pizza_steak_sushi/train/pizza/3109486.jpg
data/pizza_steak_sushi/train/pizza/3196721.jpg
data/pizza_steak_sushi/train/pizza/3269634.jpg
data/pizza_steak_sushi/train/pizza/3281494.jpg
data/pizza_steak_sushi/train/pizza/3338774.jpg
data/pizza_steak_sushi/train/pizza/3441394.jpg
data/pizza_steak_sushi/train/pizza/3505182.jpg
data/pizza_steak_sushi/train/pizza/3530210.jpg
data/pizza_steak_sushi/train/pizza/3589437.jpg
data/pizza_steak_sushi/train/pizza/3699992.jpg
data/pizza_steak_sushi/train/pizza/3821701.jpg
data/pizza_steak_sushi/train/pizza/3860002.jpg
data/pizza_steak_sushi/train/steak/75537.jpg
data/pizza_steak_sushi/train/steak/97656.jpg
data/pizza_steak_sushi/train/steak/100135.jpg
data/pizza_steak_sushi/train/steak/165639.jpg
data/pizza_steak_sushi/train/steak/167069.jpg
data/pizza_steak_sushi/train/steak/176508.jpg
data/pizza_steak_sushi/train/steak/214320.jpg
data/pizza_steak_sushi/train/steak/225990.jpg
data/pizza_steak_sushi/train/steak/231296.jpg
data/pizza_steak_sushi/train/steak/234626.jpg
data/pizza_steak_sushi/train/steak/239025.jpg
data/pizza_steak_sushi/train/steak/256592.jpg
data/pizza_steak_sushi/train/steak/339891.jpg
data/pizza_steak_sushi/train/steak/355715.jpg
data/pizza_steak_sushi/train/steak/421476.jpg
data/pizza_steak_sushi/train/steak/443210.jpg
data/pizza_steak_sushi/train/steak/461689.jpg
data/pizza_steak_sushi/train/steak/482022.jpg
data/pizza_steak_sushi/train/steak/560503.jpg
data/pizza_steak_sushi/train/steak/735441.jpg
data/pizza_steak_sushi/train/steak/830007.jpg
data/pizza_steak_sushi/train/steak/914570.jpg
data/pizza_steak_sushi/train/steak/922752.jpg
data/pizza_steak_sushi/train/steak/937133.jpg
data/pizza_steak_sushi/train/steak/1225762.jpg
data/pizza_steak_sushi/train/steak/1257104.jpg
data/pizza_steak_sushi/train/steak/1264154.jpg
data/pizza_steak_sushi/train/steak/1382427.jpg
data/pizza_steak_sushi/train/steak/1413972.jpg
data/pizza_steak_sushi/train/steak/1598345.jpg
data/pizza_steak_sushi/train/steak/1615395.jpg
data/pizza_steak_sushi/train/steak/1621763.jpg
data/pizza_steak_sushi/train/steak/1624747.jpg
data/pizza_steak_sushi/train/steak/1647351.jpg
data/pizza_steak_sushi/train/steak/1736968.jpg
data/pizza_steak_sushi/train/steak/1761285.jpg
data/pizza_steak_sushi/train/steak/1787505.jpg
data/pizza_steak_sushi/train/steak/1839481.jpg
data/pizza_steak_sushi/train/steak/1849463.jpg
data/pizza_steak_sushi/train/steak/1937872.jpg
data/pizza_steak_sushi/train/steak/1961025.jpg
data/pizza_steak_sushi/train/steak/1966300.jpg
data/pizza_steak_sushi/train/steak/1976160.jpg
data/pizza_steak_sushi/train/steak/2013535.jpg
data/pizza_steak_sushi/train/steak/2017387.jpg
data/pizza_steak_sushi/train/steak/2087958.jpg
data/pizza_steak_sushi/train/steak/2129685.jpg
data/pizza_steak_sushi/train/steak/2163079.jpg
data/pizza_steak_sushi/train/steak/2222018.jpg
data/pizza_steak_sushi/train/steak/2254705.jpg
data/pizza_steak_sushi/train/steak/2287136.jpg
data/pizza_steak_sushi/train/steak/2324994.jpg
data/pizza_steak_sushi/train/steak/2561199.jpg
data/pizza_steak_sushi/train/steak/2603058.jpg
data/pizza_steak_sushi/train/steak/2606444.jpg
data/pizza_steak_sushi/train/steak/2614189.jpg
data/pizza_steak_sushi/train/steak/2614649.jpg
data/pizza_steak_sushi/train/steak/2628106.jpg
data/pizza_steak_sushi/train/steak/2629750.jpg
data/pizza_steak_sushi/train/steak/2648423.jpg
data/pizza_steak_sushi/train/steak/2707522.jpg
data/pizza_steak_sushi/train/steak/2825100.jpg
data/pizza_steak_sushi/train/steak/2878151.jpg
data/pizza_steak_sushi/train/steak/2880035.jpg
data/pizza_steak_sushi/train/steak/2881783.jpg
data/pizza_steak_sushi/train/steak/2979061.jpg
data/pizza_steak_sushi/train/steak/3074367.jpg
data/pizza_steak_sushi/train/steak/3142045.jpg
data/pizza_steak_sushi/train/steak/3142674.jpg
data/pizza_steak_sushi/train/steak/3245622.jpg
data/pizza_steak_sushi/train/steak/3518960.jpg
data/pizza_steak_sushi/train/steak/3577618.jpg
data/pizza_steak_sushi/train/steak/3727036.jpg
data/pizza_steak_sushi/train/steak/3727491.jpg
data/pizza_steak_sushi/train/steak/3857508.jpg
data/pizza_steak_sushi/train/sushi/14046.jpg
data/pizza_steak_sushi/train/sushi/17704.jpg
data/pizza_steak_sushi/train/sushi/93139.jpg
data/pizza_steak_sushi/train/sushi/121940.jpg
data/pizza_steak_sushi/train/sushi/148799.jpg
data/pizza_steak_sushi/train/sushi/169392.jpg
data/pizza_steak_sushi/train/sushi/170385.jpg
data/pizza_steak_sushi/train/sushi/200025.jpg
data/pizza_steak_sushi/train/sushi/268990.jpg
data/pizza_steak_sushi/train/sushi/307738.jpg
data/pizza_steak_sushi/train/sushi/377047.jpg
data/pizza_steak_sushi/train/sushi/385154.jpg
data/pizza_steak_sushi/train/sushi/390178.jpg
data/pizza_steak_sushi/train/sushi/424994.jpg
data/pizza_steak_sushi/train/sushi/497686.jpg
data/pizza_steak_sushi/train/sushi/542188.jpg
data/pizza_steak_sushi/train/sushi/686426.jpg
data/pizza_steak_sushi/train/sushi/700405.jpg
data/pizza_steak_sushi/train/sushi/710379.jpg
data/pizza_steak_sushi/train/sushi/748830.jpg
data/pizza_steak_sushi/train/sushi/765684.jpg
data/pizza_steak_sushi/train/sushi/773725.jpg
data/pizza_steak_sushi/train/sushi/794647.jpg
data/pizza_steak_sushi/train/sushi/821108.jpg
data/pizza_steak_sushi/train/sushi/840444.jpg
data/pizza_steak_sushi/train/sushi/843815.jpg
data/pizza_steak_sushi/train/sushi/855721.jpg
data/pizza_steak_sushi/train/sushi/929471.jpg
data/pizza_steak_sushi/train/sushi/1070104.jpg
data/pizza_steak_sushi/train/sushi/1129338.jpg
data/pizza_steak_sushi/train/sushi/1138695.jpg
data/pizza_steak_sushi/train/sushi/1209865.jpg
data/pizza_steak_sushi/train/sushi/1214108.jpg
data/pizza_steak_sushi/train/sushi/1221830.jpg
data/pizza_steak_sushi/train/sushi/1232045.jpg
data/pizza_steak_sushi/train/sushi/1280119.jpg
data/pizza_steak_sushi/train/sushi/1551817.jpg
data/pizza_steak_sushi/train/sushi/1552504.jpg
data/pizza_steak_sushi/train/sushi/1571146.jpg
data/pizza_steak_sushi/train/sushi/1575445.jpg
data/pizza_steak_sushi/train/sushi/1615453.jpg
data/pizza_steak_sushi/train/sushi/1957449.jpg
data/pizza_steak_sushi/train/sushi/2004525.jpg
data/pizza_steak_sushi/train/sushi/2017378.jpg
data/pizza_steak_sushi/train/sushi/2019344.jpg
data/pizza_steak_sushi/train/sushi/2021381.jpg
data/pizza_steak_sushi/train/sushi/2021685.jpg
data/pizza_steak_sushi/train/sushi/2120573.jpg
data/pizza_steak_sushi/train/sushi/2175561.jpg
data/pizza_steak_sushi/train/sushi/2267190.jpg
data/pizza_steak_sushi/train/sushi/2323548.jpg
data/pizza_steak_sushi/train/sushi/2492146.jpg
data/pizza_steak_sushi/train/sushi/2574453.jpg
data/pizza_steak_sushi/train/sushi/2590819.jpg
data/pizza_steak_sushi/train/sushi/2641778.jpg
data/pizza_steak_sushi/train/sushi/2674024.jpg
data/pizza_steak_sushi/train/sushi/2720223.jpg
data/pizza_steak_sushi/train/sushi/2797464.jpg
data/pizza_steak_sushi/train/sushi/2813454.jpg
data/pizza_steak_sushi/train/sushi/2871052.jpg
data/pizza_steak_sushi/train/sushi/2873571.jpg
data/pizza_steak_sushi/train/sushi/2980779.jpg
data/pizza_steak_sushi/train/sushi/3004029.jpg
data/pizza_steak_sushi/train/sushi/3081701.jpg
data/pizza_steak_sushi/train/sushi/3107839.jpg
data/pizza_steak_sushi/train/sushi/3251688.jpg
data/pizza_steak_sushi/train/sushi/3353428.jpg
data/pizza_steak_sushi/train/sushi/3360207.jpg
data/pizza_steak_sushi/train/sushi/3360232.jpg
data/pizza_steak_sushi/train/sushi/3426958.jpg
data/pizza_steak_sushi/train/sushi/3579071.jpg
data/pizza_steak_sushi/train/sushi/3737197.jpg
